body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
  background-image: url(../public/header.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
}

.contact-details-container {
  width: 80vw;
  height: 80vh;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  width: 600px;
  height: 600px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 24px;
  color: #3c3c3c;
  font-weight: bold;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
}

.contact-list {
  overflow: auto;
  flex-grow: 1;
  padding: 10px;
}